/* Color Pallete
    Dark Blue: #0A192F;
    Red: #FE5F55;
    Gray: #B8B8B8;
    White: #fff;
    Light Blue: #193E76;

   Fonts
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Lato', sans-serif;

*/

/* Baseline Styling */

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #0A192F;
    color: #B8B8B8;
    font-size: 0.95em;
    line-height: 1.5;
    text-align: left;
}

a{
    text-decoration: none;
    color: #FE5F55;
}

img{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 75px;
}

h1, h2, h3{
    margin: 0;
    padding: 1em 0;
    color: #fff;
}



@media screen and (min-width: 800px){
    p{
        padding: 1em 4.5em;
    }
}

ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ion-icon{
    color: #FE5F55;
}

button{
    background: none;
    border: none;
}

header{
    position: relative;
}

footer{
    margin-top: 20vh;
}

/* End baseline styling */

/* Mobile Navigation */
/*********************/
/*********************/
/*********************/
/*********************/

header{
    height: 100vh;
}

.sticky-nav{
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    background: rgba(10, 25, 47, 0.9);
    top: 0;
    display: flex; /* keeps the logo and hamburger within the div */
    justify-content: space-between;
    z-index: 10;
}

.logo{
    color: #FE5F55;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.3em;
    width: min-content;
    margin: 20px 0 20px 20px;
}

.hamburger-container{  
    cursor: pointer;
    position: relative;
    margin: 18px 20px 20px 0;
    width: 2.5rem;
    height: 2rem;
}

.burger-line{
    position: absolute;
    right: 0;
    height: 3px;
    background-color: #FE5F55;
    margin: 5px 5px;
    border: none;
    border-radius: 10px;
}

#line1{
    width: 33px;
}
#line2{
    width: 23px;
    top: 8px;
}
#line3{
    width: 15px;
    top: 16px;
}

.ham-links li a{
    text-decoration: none;
    color: #fff;
    list-style: none;
    font-size: 1.8em;
    line-height: 2.5em;
    letter-spacing: 0.3em;
}

.ham-links{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.mobile-nav-slide-out{
    height: 100vh;
    width: 80vw;
    top: 0;
    background: #193E76;
    position: fixed; /* fixes it to th side of the screen otherwise it would only be visible at the top */
    display: block;
    visibility: hidden; /* hides menu when not using, used for js */ 
    z-index: 10; /* makes sure when called, it's infront of everything else */
}

.media-container{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.media-logo{
    padding: 0.2em 0.6em;
}
/*********************/
/*********************/
/*********************/
/*********************/
/* End mobile navigation */

/* hero styling*/
/*********************/
/*********************/
/*********************/
/*********************/

.name-title-container{
    padding: 8rem 0 0 2rem;
    width: 85vw;
    height: 20vh;
}

#introduction-welcome{
    color: #FE5F55;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 8px;
    margin: 20px 0 0 0;
}

#introduction-my-name{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 2.7em;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

#introduction-what-i-do{
    font-size: 1.8em;
    margin: 30px 0 0 0;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    line-height: 2rem;
}

#header-short-description{
    margin: 3rem 0 0 0;
}

.resume-btn{
    color: #FE5F55;
    cursor: pointer;
    padding: 1rem 2.5rem;
    margin-top: 3rem;
    font-size: 1.2em;
    border: 1px solid #FE5F55;
    border-radius: 4px;
}

.header-description{
    justify-content: center;
    padding: 25px;
    margin-top: 100vh;
}









/*********************/
/*********************/
/*********************/
/*********************/
/* end hero styling */

/* Full Screen Navigation */

.fullscreen-nav{
    display: none;
}








@media screen and (min-width: 700px){
    nav{
        display: flex;
        justify-content: space-between;
        float: right;
        align-items: center;
        margin-top: 15px;
    }
    
    .nav-item{
        display: inline-block;
        text-align: center;
    }
    
    .nav-item, .nav-link{
        color: #fff;
        padding:0 15px;
        text-decoration: none;
    }
    
    .nav-item, .nav-link:hover{
        color: #15BAEA;
        transition: all 0.3s ease;
    }
    
    #nav-resume{
        margin-right: 5vw;
    }

    .nav-line{
        height: 10px;
        width: 1px;
        background-color: #fff;
        display: inline-block;
    }
}




#project-list{
    list-style: none;
}

.hero-img{
    background-image: url(../img/mobile-banner.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (min-width: 700px){
    header{
        height: 800px;
    }
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

.content-wrap{
    padding: 0 1.7em;
}

#banner-titles-container{
    position: absolute;
}

/* section b */

.tech-grid{
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
}

.tech-grid-item{
    padding: .5em;
    margin: auto;
}

.tech-img{
    height: 5em;
    width: 5em;
    margin: 0;
}

#csharp{
    height: 5em;
    width: 5em;
}

/* section c */

#top-project{
    margin: 0;
}
 

